.checkout {
   margin-bottom: 50px;
}
.checkout .input-field label{
  color: #212121 !important;
}

.checkout .css-151xaom-placeholder {
  color: #212121 !important;
}

.checkout .fa-paypal {
  font-size: 1.4em;
}

@-webkit-keyframes autofill {
  to {
    color: #212121;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}