.navbar {
  background-color: #212121;
  padding-bottom: 10px;
}

.logo {
  display: inline-block;
  margin-top: 10px;
}

.logo img {
  height: 5vh;
  width: 15vh;
}

.main-nav {
  list-style-type: none;
  display: none;
  text-align: center;
  margin: 15px auto;
}

.nav-item {
  padding-bottom: 10px;
}

.nav-item a {
  text-decoration: none;
  color: #fafafa;
}

.navbar-toggle {
  position: absolute;
  top: 15px;
  right: calc(100% - 40px);
  cursor: pointer; 
  color: #fafafa;
  font-size: 24px;
}

.desktop-nav {
  display: block;
}

.active {
  background-color: #424242;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (min-width: 768px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .logo {
    margin-left: 2vw;
    margin-top: 0;
  }

  .main-nav {
    display: flex;
    margin-right: 2vw;
    justify-content: space-between;
  }
  
  .nav-item {
    padding-top: 10px;
  }

  .nav-item a {
    margin-left: 20px;
    margin-right: 20px;
  }

  .navbar-toggle {
    display: none;
  }

  .active {
    padding-top: 25px;
    padding-bottom: 24px;
    padding-left: 8px;
    padding-right: 8px;
  }
}