.band {
  margin-top: 2vh;
}

.members-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.member img {
  width: 100%;
  height: auto;
}

.member-info {
  width: 100%;
  color: #fafafa;
  background-color: #212121;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

@media screen and (min-width: 786px) {
  .members-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .member {
    margin-bottom: 0;
  }

  .member img {
    width: 75%;
  }

  .member-info {
    width: 75%;
  }
}