.merch-details {
  margin-top: 2vh;
}

.merch-details-image {
  width: 90%;
  height: auto;
}

.size-input-container {
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.size-label {
  padding-left: 1vh !important;
  color: #212121;
}

.size-checkbox {
  margin-left: 1vh !important;
}

.fa-cart-plus {
  font-size: 4vh;
}

@media screen and (min-width: 786px) {
  .merch-details-image {
    width: 20%;
    height: auto;
  }
}