.cart {
  margin-top: 2vh;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  color: #fafafa;
  background-color: #212121;
  text-align: center;
  padding: 3vh;
  margin-bottom: 2vh;
  line-height: 150%;  
}

.trash-btn {
  margin-top: 2vh;
  font-size: 18px;
}

.subtotal-and-shipping {
  line-height: 200%;
}

.shipping-info {
  font-size: 12px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
}

.cart a {
  text-decoration: none;
}

@media screen and (min-width: 786px) {
  .items-container {
    flex-direction: row;
    justify-content: center;
  }

  .item {
    margin-left: 2vh;
    margin-right: 2vh;
  }
}