.songs {
  margin-top: 2vh;
}

.songs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song {
  margin-bottom: 2vh;
}

@media screen and (min-width: 786px) {
  .songs-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}